<div style="padding-top: 20px;">
<table style="border: thin outset black;">
<tr class="head">
	<td colspan="2" align="center"> Edit Claim Data </td>
</tr>
<tr>
<% @claims.each do |claim| %>
<%= form_tag update_path, method: 'post' do %>
<%= hidden_field_tag :id, params[:id] %>

<td style="padding-left: 10px;">Last Name:</td><td style="padding-right: 10px; padding-top: 10px;"><%= text_field_tag :lName, params[:lName], value: claim.lName %></td>
</tr>
<tr>
<td style="padding-left: 10px;">First Name:</td><td style="padding-right: 10px;"><%= text_field_tag :fName, params[:fName], value: claim.fName %></td>
</tr>
<tr>
<td style="padding-left: 10px;">DOB:</td><td style="padding-right: 10px;"><%= text_field_tag :bDate, params[:bDate], value: claim.bDate %></td>
</tr>
<tr>
<td style="padding-left: 10px;">Group Id:</td><td style="padding-right: 10px;"><%= text_field_tag :groupId, params[:groupId], value: claim.groupId %></td>
</tr>
<tr>
<td style="padding-left: 10px;">Submitted Date:</td><td style="padding-right: 10px;"><%= text_field_tag :sDate, params[:sDate], value: claim.sDate %></td>
</tr>
<tr>
<td style="padding-left: 10px;">Drug:</td><td style="padding-right: 10px;"><%= text_field_tag :drug, params[:drug], value: claim.drug %></td>
</tr>
<tr>
<td style="padding-left: 10px;">Plan Paid:</td><td style="padding-right: 10px;"><%= text_field_tag :planPaid, params[:planPaid], value: claim.planPaid %></td>
</tr>
<tr>
<td style="padding-left: 10px;">Plan Paid:</td><td style="padding-right: 10px;"><%= text_field_tag :coPay, params[:coPay], value: claim.coPay %></td>
</tr>
<td style="padding-left: 10px;">Plan Paid:</td><td style="padding-right: 10px;"><%= text_field_tag :totalPaid, params[:totalPaid], value: claim.totalPaid %></td>
</tr>
<tr>
<td colspan="2" align="center" style="padding-top: 10px; padding-bottom: 10px;"><%= submit_tag "Update", class: "button" %></td>
</tr>
</table>
<% end %>
<% end %>
</div>