<h1>Edit / Delete Claim</h1>

<% if @claims.empty? %>
	<h3>No Results Found</h3>
<% end %>

<div style="padding-top: 20px;">
<%= form_tag delete_path method: 'post' do |claim| %>
<%= hidden_field_tag :id, params[:id] %>
<%= submit_tag 'Delete Claim', class: 'button', data:{ confirm: 'Are you sure?' } %>
<% end %>

</div>

<%= render 'home/display' %>

<%= render 'home/update_form' %>
