<div class="row">
<div class="col-sm-4">
<% flash.each do |key,value| %>
<div class="alert alert-<%= key %>"> 
<%= value %>
</div>
<% end %>
</div>
</div>

<div class="Container" style="padding-top: 20px; padding-botton: 20px;">

<%= render 'tools/updates' %> <%= render 'tools/load_log' %>

</div>

<div>

<%= image_tag "banner.png" %>
</div>
