<div class="row">
  <div class="col-lg-9">
  </div>
  <div class="col-lg-3">
    <% if current_user %> 
  <table>
    <tr>
      <td style="padding-right: 10px;">Hello <%= current_user.first_name %></td> 
      <td><%= button_to "Log out", logout_path, method: "delete", class: "button" %></td> 
    </tr>
  </table> 
<% end %>
  </div>
</div>

<div class="row" style="padding-left: 25px;">
  <div class="col-lg-3" style="padding-top: 20px;">
      <%= link_to root_path do %>
	     <%= image_tag "logo.png" %> 
      <% end %>	

    <div class="panel-group">
      <div class="panel" style="background-color: #008c91; color: white;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Detailed Search</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body" style="background-color: lightgray; color: black">

          	<div style="padding-left: 10px;">

              <%= render 'layouts/detail_form' %>
    	
            </div>

          </div>
          <div class="panel-footer">
          	<div align="center">
              <%= render 'layouts/export' %>

            </div>


          </div>
        </div>
      </div>

      <div class="panel" style="background-color: #008c91; color: white;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2">Accumulator Search</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body"  style="background-color: lightgray; color: black">
        	  <div style="padding-left: 10px;">
              	<%= render 'layouts/accum_form' %>
            </div>
          </div>
          <div class="panel-footer">
            <div align="center">
              <%= render 'layouts/export' %>
            </div>

          </div>
        </div>
      </div>
  
     <div class="panel" style="background-color: #008c91; color: white;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3">Claim Edit / Delete</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"  style="background-color: lightgray; color: black">
            <div style="padding-left: 10px;">
              <%= render 'layouts/edit_form' %>
            </div>
          </div>
        </div>
      </div>

    <div class="panel" style="background-color: #008c91; color: white;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">Add A Claim</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body"  style="background-color: lightgray; color: black">      
          <div style="padding-left: 10px;">
            <%= render 'layouts/add_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>