<!DOCTYPE html>
<html>
  <head>
    <title>Rx</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
<div class="row">
  <div class="col-lg-9">
  </div>
  <div class="col-lg-3">
    <% if current_user %> 
  <table>
    <tr>
      <td style="padding-right: 10px;">Hello <%= current_user.first_name %></td> 
      <td><%= button_to "Log out", logout_path, method: "delete", class: "button" %></td> 
    </tr>
  </table> 
<% end %>
  </div>
</div>




<div class="row" style="padding-left: 25px;">

<div class="col-lg-3" style="padding-top: 20px;">

<%= link_to root_path do %>
	<%= image_tag "logo.png" %> 
<% end %>	


  <div class="panel-group">
    <div class="panel" style="background-color: #008c91; color: white;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Detailed Search</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body" style="background-color: lightgray; color: black">

        	<div style="padding-left: 10px;">
  	<h1>Detailed Search</h1> 
<table style="padding-bottom: 10px;">
<%= form_tag show_path	, method: 'get' do %>
	<tr>
		<td align="right" style="padding-right: 20px;">Last Name: </td><td align="left" colspan="3"><%= text_field_tag :lName, params[:lName] %></td>
	</tr>
	<tr>	
		<td align="right" style="padding-right: 20px;">First Name: </td><td align="left" colspan="3"><%= text_field_tag :fName, params[:fName] %></td>
	</tr>
	<tr>
		<td align="right" style="padding-right: 20px;">Group Id:</td><td align="left"  colspan="3"><%= select_tag(:groupId, options_for_select([["Select A Group", ""], ["Leech Industries - 265", 265], ["Wellmont - 301", 301], ["Green Acres - 323", 323], ["West Virginia Newspaper - 329", 329], ["Russell County Schools - 382", 382], ["Walter Yoder - 390", 390], ["Plumbers & Steamfitters - 393", 393], ["McGee Heating - 396", 396], ["Alpine Sales - 397", 397], ["Dermatology Associates - 399", 399], ["Paramount Manufacturing - 406", 406], ["K Dolan - 407", 407], ["Istobal - 409", 409], ["Blue Ridge Radiology - 411", 411], ["Mountain Region - 412", 412], ["Dickenson County - 413", 413], ["Seco Warwick - 414", 414], ["Highlands Physicians - 415", 415], ["Eye Associates of South Indiana - 417", 417], ["NHM Constructor LLC - 419", 419], ["Alshred Services - 423", 423], ["Blaylock Plumbing - 425", 425], ["Kingsport Urology - 426", 426], ["Bristol Surgical - 428", 428], ["Yoder's Building Supply - 429", 429], ["Gastroenterology Associates - 430", 430], ["Palmetto Synthetics - 434", 434], ["Big Valley Seeding - 435", 435], ["High Q - 437", 437], ["Starnes INC - 439", 439], ["Handmaids of the Precious Blood - 445", 445], ["Hair Nails and Skin Care - 447", 447], ["Neal Enterprises - 448", 448], ["Falcon Farms - 449", 449], ["O'Dell Corp - 451", 451], ["Gateway Supply - 453", 453], ["Eye Centers of Louisville - 454", 454], ["Bondtex INC - 455", 455], ["Cross Schools - 456", 456], ["Blanton Supplies - 458", 458], ["Advanced Prosthetics - 459", 459], ["Community Pharmacy - 461", 461], ["D & C Trucking - 462", 462], ["MGC Mechanical - 463", 463], ["Tipperary Sales - 464", 464], ["Briggs Plumbing - 465", 465], ["Mountain Empire - 466", 466], ["Yeargin Potter Smith - 467", 467], ["Fedsec INC - 468", 468], ["Bobby Wood Chevrolet - 469", 469], ["Stealth Concealment - 470", 470], ["Moog Music - 471", 471], ["Blythewood Oil - 472", 472], ["Embroidery Solutions - 473", 473], ["Bluefield Cycles - 474", 474], ["Kwik Kafe - 475", 475], ["South Carolina Baptist - 476", 476], ["Food Country - 477", 477], ["Palmetto Prosthetics - 478", 478], ["Cleco - 479", 479], ["Overland INC - 480", 480], ["The Barter Foundation - 481", 481], ["Georgia Crown Distributing - 517", 517], ["Mach Mining - 750", 750], ["Highland Telephone - 755", 755], ["Cline Resources Development - 760", 760], ["Foresight Management - 763", 763], ["M Class Mining - 768", 768], ["Yellow Bush - 769", 769], ["Coal Field Construction -771", 771], ["Ringold Telephone - 778", 778], ["Patton Mining - 780", 780], ["Maryann Mining - 782", 782], ["Foresight Energy - 786", 786], ["LD Labor - 787", 787], ["Coalfield Repair - 789", 789], ["Cline Resources - 792", 792], ["Foresight Management - 793", 793], ["Cutlass Colliers - 794", 794], ["Greenway Mennonite - 795", 795], ["Goodwill Mennonite - 927", 927],])) %></td>
	</tr>
	<tr>	
		<td align="right" style="padding-right: 20px;">DOB: </td><td align="left" colspan="3"><%= text_field_tag :bDate, params[:bDate] %></td>
	</tr>
	<tr>	
		<td align="right" style="padding-right: 20px;">Date From (yyyymmdd): </td><td align="left" colspan="3"><%= text_field_tag :sDateFrom, params[:sDateFrom] %></td>
	</tr>
	<tr>	
		<td align="right" style="padding-right: 20px;">Date Through (yyyymmdd): </td><td align="left" colspan="3"><%= text_field_tag :sDateThrough, params[:sDateThrough] %></td>
	</tr>
	
		<td colspan="4" align="center"><%= submit_tag "Search", class: "button" %></td>
	</tr>

<% end %>
</table>
</div>



        </div>
        <div class="panel-footer">
        	<div align="center">

<%= form_tag show_path(format: "csv"), method: 'get' do %>
<%= hidden_field_tag :lName, params[:lName] %>
<%= hidden_field_tag :fName, params[:fName] %>
<%= hidden_field_tag :bDate, params[:bDate] %>
<%= hidden_field_tag :groupId, params[:groupId] %>
<%= hidden_field_tag :sDateFrom, params[:sDateFrom] %>
<%= hidden_field_tag :sDateThrough, params[:sDateThrough] %>
<%= submit_tag "Export", class: "button" %>
<% end %>
</div>


        </div>
      </div>
    </div>

    <div class="panel" style="background-color: #008c91; color: white;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">Accumulator Search</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"  style="background-color: lightgray; color: black">
        	
<div style="padding-left: 10px;">
  	<h1>Accumulator</h1> 
<table style="padding-bottom: 10px;">
<%= form_tag acresult_path, method: 'get' do %>
	<tr>
		<td align="right" style="padding-right: 20px;">Group Id:</td><td align="left"  colspan="3"><%= select_tag(:groupId, options_for_select([["Select A Group", 0], ["Leech Industries - 265", 265], ["Wellmont - 301", 301], ["Green Acres - 323", 323], ["West Virginia Newspaper - 329", 329], ["Russell County Schools - 382", 382], ["Walter Yoder - 390", 390], ["Plumbers & Steamfitters - 393", 393], ["McGee Heating - 396", 396], ["Alpine Sales - 397", 397], ["Dermatology Associates - 399", 399], ["Paramount Manufacturing - 406", 406], ["K Dolan - 407", 407], ["Istobal - 409", 409], ["Blue Ridge Radiology - 411", 411], ["Mountain Region - 412", 412], ["Dickenson County - 413", 413], ["Seco Warwick - 414", 414], ["Highlands Physicians - 415", 415], ["Eye Associates of South Indiana - 417", 417], ["NHM Constructor LLC - 419", 419], ["Alshred Services - 423", 423], ["Blaylock Plumbing - 425", 425], ["Kingsport Urology - 426", 426], ["Bristol Surgical - 428", 428], ["Yoder's Building Supply - 429", 429], ["Gastroenterology Associates - 430", 430], ["Palmetto Synthetics - 434", 434], ["Big Valley Seeding - 435", 435], ["High Q - 437", 437], ["Starnes INC - 439", 439], ["Handmaids of the Precious Blood - 445", 445], ["Hair Nails and Skin Care - 447", 447], ["Neal Enterprises - 448", 448], ["Falcon Farms - 449", 449], ["O'Dell Corp - 451", 451], ["Gateway Supply - 453", 453], ["Eye Centers of Louisville - 454", 454], ["Bondtex INC - 455", 455], ["Cross Schools - 456", 456], ["Blanton Supplies - 458", 458], ["Advanced Prosthetics - 459", 459], ["Community Pharmacy - 461", 461], ["D & C Trucking - 462", 462], ["MGC Mechanical - 463", 463], ["Tipperary Sales - 464", 464], ["Briggs Plumbing - 465", 465], ["Mountain Empire - 466", 466], ["Yeargin Potter Smith - 467", 467], ["Fedsec INC - 468", 468], ["Bobby Wood Chevrolet - 469", 469], ["Stealth Concealment - 470", 470], ["Moog Music - 471", 471], ["Blythewood Oil - 472", 472], ["Embroidery Solutions - 473", 473], ["Bluefield Cycles - 474", 474], ["Kwik Kafe - 475", 475], ["South Carolina Baptist - 476", 476], ["Food Country - 477", 477], ["Palmetto Prosthetics - 478", 478], ["Cleco - 479", 479], ["Overland INC - 480", 480], ["The Barter Foundation - 481", 481], ["Georgia Crown Distributing - 517", 517], ["Mach Mining - 750", 750], ["Highland Telephone - 755", 755], ["Cline Resources Development - 760", 760], ["Foresight Management - 763", 763], ["M Class Mining - 768", 768], ["Yellow Bush - 769", 769], ["Coal Field Construction - 771", 771], ["Ringold Telephone - 778", 778], ["Patton Mining - 780", 780], ["Maryann Mining - 782", 782], ["Foresight Energy - 786", 786], ["LD Labor - 787", 787], ["Coalfield Repair - 789", 789], ["Cline Resources - 792", 792], ["Foresight Management - 793", 793], ["Cutlass Colliers - 794", 794], ["Greenway Mennonite - 795", 795], ["Goodwill Mennonite - 927", 927],])) %></td>
	</tr>

	<tr>	
		<td align="right" style="padding-right: 20px;">Date From (yyyymmdd): </td><td align="left" colspan="3"><%= text_field_tag :sDateFrom, params[:sDateFrom] %></td>
	</tr>
	<tr>	
		<td align="right" style="padding-right: 20px;">Date Through (yyyymmdd): </td><td align="left" colspan="3"><%= text_field_tag :sDateThrough, params[:sDateThrough] %></td>
	</tr>
	
		<td colspan="4" align="center"><%= submit_tag "Search", class: "button" %></td>
	</tr>

<% end %>
</table>
</div>

        </div>
        <div class="panel-footer">

<div align="center">

<%= form_tag acresult_path(format: "csv"), method: 'get' do %>
<%= hidden_field_tag :lName, params[:lName] %>
<%= hidden_field_tag :fName, params[:fName] %>
<%= hidden_field_tag :bDate, params[:bDate] %>
<%= hidden_field_tag :groupId, params[:groupId] %>
<%= hidden_field_tag :sDateFrom, params[:sDateFrom] %>
<%= hidden_field_tag :sDateThrough, params[:sDateThrough] %>
<%= submit_tag "Export", class: "button" %>
<% end %>

</div>

        </div>
      </div>
    </div>
  
 <div class="panel" style="background-color: #008c91; color: white;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">Claim Edit / Delete</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body"  style="background-color: lightgray; color: black">
          
<div style="padding-left: 10px;">
    <h1>Claim Edit</h1> 
  <table style="padding-bottom: 10px;">
    <%= form_tag edit_path, method: 'get' do %>
  <tr>
    <td>Enter Claim Numnber</td>
    <td align="right" style="padding-right: 20px;">Enter Claim Number: </td>
    <td align="left" colspan="3"><%= text_field_tag :id, params[:id], :required => true %></td>
    </tr>
    <tr>
    <td><%= submit_tag "Submit", class: "button" %></td>
    </tr>
    <% end %>
</table>
</div>
</div>
</div>
</div>

<div class="panel" style="background-color: #008c91; color: white;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">Add A Claim</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body"  style="background-color: lightgray; color: black">
          
<div style="padding-left: 10px;">
    <h1>Claim Data</h1> 
<table style="padding-bottom: 10px;">
<%= form_tag new_path, method: 'post' do %>
  <tr>
    <td align="right" style="padding-right: 20px;">Last Name:</td><td align="left" colspan="3"><%= text_field_tag :lName, params[:lName], :required => true %></td>
  </tr>
  
  <tr>
    <td align="right" style="padding-right: 20px;">First Name:</td><td align="left" colspan="3"><%= text_field_tag :fName, params[:fName], :required => true %></td>
  </tr>

  <tr>
    <td align="right" style="padding-right: 20px;">DOB (yyyymmdd):</td><td align="left" colspan="3"><%= text_field_tag :bDate, params[:bDate], :required => true %></td>
  </tr>

  <tr>
    <td align="right" style="padding-right: 20px;">Group Id:</td><td align="left" colspan="3"><%= text_field_tag :groupId, params[:groupId], :required => true %></td>
  </tr>

  <tr>  
    <td align="right" style="padding-right: 20px;">Submitted Date(yyyymmdd): </td><td align="left" colspan="3"><%= text_field_tag :sDate, params[:sDate], :required => true %></td>
  </tr>
  <tr>  
    <td align="right" style="padding-right: 20px;">Drug: </td><td align="left" colspan="3"><%= text_field_tag :drug, params[:drug], :required => true %></td>
  </tr>

  <tr>  
    <td align="right" style="padding-right: 20px;">Plann Paid </td><td align="left" colspan="3"><%= text_field_tag :planPaid, params[:planPaid], :required => true %></td>
  </tr>
  
    <tr>  
    <td align="right" style="padding-right: 20px;">Co Pay </td><td align="left" colspan="3"><%= text_field_tag :coPay, params[:coPay], :required => true %></td>
  </tr>
  
    <tr>  
    <td align="right" style="padding-right: 20px;">Total Paid </td><td align="left" colspan="3"><%= text_field_tag :totalPaid, params[:totalPaid], :required => true %></td>
  </tr>
    
    <td colspan="4" align="center"><%= submit_tag "Create", class: "button" %></td>
  </tr>

<% end %>
</table>

</div>
</div>
</div>


</div>
</div>
</div>

 <div class="col-lg-9">
  <%= link_to "Archive", archive_path  %>
    <%= yield %>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
